<!-- Contenedor Principal de la Sección -->
<section class="container mx-auto px-4 py-12 md:py-20 lg:py-24">
  <!-- Encabezado -->
  <div class="mb-12 lg:mb-16">
    <h3 class="text-3xl sm:text-5xl md:text-4xl font-bold font-poppins leading-tight text-gray-800 dark:text-white">
      Tecnologías <span class="text-orangie">y Herramientas</span>
    </h3>

    <div class="mt-6 max-w-3xl">
      <p class="text-lg sm:text-xl md:text-lg font-poppinsleading-relaxed mb-6">
        En mi viaje por el <span class="font-bold text-bluetie">mundo del desarrollo web</span>, he cultivado
        <span class="font-bold text-orangie">experiencia y habilidades</span> en una variedad de tecnologías.
        <span class="font-bold text-bluetie">Mi Stack tecnológico incluye:</span>
      </p>
    </div>
  </div>

  <!-- Contenedor de las cajas de tecnologías -->
  <div class="mt-8 lg:mt-12">
    <app-technologies-box></app-technologies-box>
  </div>
</section>
