<section class="container mx-auto px-4 py-12 md:py-20">
  <div class="w-full md:w-1/2">
    <div class="mb-6">
      <h3 class="text-3xl sm:text-5xl md:text-4xl font-bold font-poppins leading-tight">
        Proyectos
      </h3>
    </div>

    <div class="w-full">
      <p class="text-lg sm:text-xl md:text-lg font-poppinsleading-relaxed mb-6">
        Mis proyectos más emocionantes y creativos. Cada proyecto es el resultado de mi dedicación y
        pasión por la programación, y estoy encantado de compartirlos contigo. Descubre cómo
        transformo ideas en realidades digitales. ¡Explora, inspira y crea proyectos de software!
      </p>
    </div>

  </div>

  <!-- Componente de Proyectos -->

</section>
